<h2>ユーザー 一覧</h2>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>投稿内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>👤 <%= link_to user.name, user_path(user) %></td>
        <td>✉ <%= user.email %></td>
        <td>📒 
          <% user.posts.each do |post| %>
          <%= post.content %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "トップページへ", top_path %></p>

