<h2>ãƒ¦ãƒ¼ã‚¶ãƒ¼è©³ç´°</h2>
  <p>ðŸ‘¤ï¼š<%= @user.name %></p>
  <p>âœ‰ï¼š<%= @user.email %></p>
  <p>ðŸ“šï¼š<% @user.posts.each do |post| %>
    <%= post.content %></p>
  <% end %>
<%= button_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ ä¸€è¦§ã¸", users_path, method: :get %>
