<h1>My page</h1>
<h2> ここはマイページです。 </h2>


<p> あなたの名前は " <%= current_user.name %> " です。</p>
<p> あなたのメールアドレスは " <%= current_user.email %> " です。</p>
<p><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></p>